
@import '../../style/variables';
@import '../../style/mixins';

.CompositionView {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &._wrapper {
    padding: _margin*8;
  }

  &-column_left {
    width: playerSize;
  }

  &-column_right {
    width: 300px;
  }

  &-dateDiff {
    text-align: right;
    border-bottom: 1px solid lineColor;
    padding-bottom: _margin;
  }

  &-title {
    font-size: 1.8em;
    margin-top: _margin*2;
    color: fontColorSecondary;
  }

  &-author {
    color: fontColorSecondary;
    font-size: 1em;
    margin-top: _margin*0.5;

    span+span {
      color: fontColor;
    }
  }

  &-info {
    margin: _margin*2 0;
    padding:_margin*3;
    padding-top: _margin*3;
    text-align: center;

    &::after {
      content: '';
      margin-top: _margin*1.5;
      icon(_margin*2, 6);
    }
  }

  // FORM
  &-form {
    margin-top: _margin*3;

    // HACK
    .Form-label, .Form-input {
      width: 100%;
    }

    .Form-input {
      margin-bottom: _margin*2;
    }

    .Button {
      width: 50%;
    }
  }
}
