
@import '../../style/variables';
@import '../../style/mixins';

columnSize = 400px;

.CompositionView {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-column {
    width: columnSize;
  }

  &-title {

  }
}
