
@import '../../style/variables';
@import '../../style/mixins';

annotationWidth = 250px;

.Annotation {
  position: absolute;
  width: annotationWidth;
  top: _margin*2;
  left: -(annotationWidth/2);
  padding: _margin * 1.5;


  &-header {
    display: flex;
    margin-bottom: _margin;
  }

  &-title {
    width: 80%;
    border-bottom: 1px solid lineColor;
  }

  &-paragraph {
    text-align: right;
    width: 90%;
    margin-left: 10%;
  }

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -15px;
    width: 50px;
    height: 10px;
    background-color: markColor;
  }

  +mediaqueries(responciveQueries) {
    position: fixed;
    z-index: 1;
    top: auto;
    bottom: _margin;
    left: _margin*4;
  }

  +mobile() {
    display: none;
  }
}
