
@import '../../style/variables';
@import '../../style/mixins';

annotationWidth = 250px;

.Annotation {
  position: absolute;
  width: annotationWidth;
  top: _margin*2;
  left: -(annotationWidth/2);
  padding: _margin * 1.5;

  &-title {
    position: relative;
    width: 80%;
    margin-left: _margin*3;
    margin-bottom: _margin;
    border-bottom: 1px solid lineColor;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -(_margin*2);
      icon(_margin*2, 6);
    }

  }

  &-paragraph {
    text-align: right;
    width: 75%;
    margin-left: 25%;
  }

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -15px;
    width: 50px;
    height: 10px;
    background-color: markColor;
  }

  +mediaqueries(responciveQueries) {
    position: fixed;
    z-index: 1;
    top: auto;
    bottom: _margin;
    left: _margin*4;
  }

  +mobile() {
    display: none;
  }
}
