
@import '../../style/variables';
@import '../../style/mixins';

.Player {

  // TODO ajouter une class au svg d'office
  svg {
    center();
  }

  &-render {
    position: relative;
    width: playerSize;
    height: playerSize;
  }

  &-partition {
    width: playerSize;
    height (playerSize/3);
    margin-top: _margin*3;
  }

  &-timer {
    position: absolute;
    right: _margin;
    bottom: _margin;
    font-size: 2em;
    letter-spacing: 1px;
    color: fontColorSecondary;
    font-family: 'circularstd-bold', sans-serif;
  }

  &-overlay {
    position: relative;
    overlay();
    cursor: pointer;
  }

  &-button {
    center();

    &.Button {
      transition: 0s;
    }
  }
}
