
@import '../../style/variables';
@import '../../style/mixins';

.Alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: overlayColor;
  opacity: 1;

  &_hidden {
    opacity: 0;
    pointer-events: none;
  }

  &-annotation {
    width: 30%;
    center();
  }
}
