/**
*
* app/style/variables.styl
* Here you can declare all utils variables
*
**/


// PATH
fontPath = "../assets/fonts/";
imgsPath = "../assets/imgs/";

// BASE
_margin = 16px;

// COLORS
fontColor = #5067BA;
fontColorSecondary = #B569AA;
markColor = #FF809A;
lineColor = #E4D3EB;
backgroundColor = #ffffff;
