
@import '../../style/variables';
@import '../../style/mixins';

annotationWidth = 250px;


.Gallery {
  position: relative;

  &-header {
    margin-bottom: _margin*4;

    +mobile() {
      margin-bottom: _margin*2;
    }
  }

  &-title {
    line-height: 100px;
    text-align: center;
    background-image: url('../'+imgsPath+'galleryTitle.jpg');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 50% 50%;

    +mediaqueries(responciveQueries) {
      font-size: 2em;
      line-height: 2em;
      background-size: 300px;
    }

    +mobile() {
      font-size: 1.6em;
      background-size: 250px;
    }
  }

  &-annotation {
    position: absolute;
    width: annotationWidth;
    top: _margin*2;
    left: -(annotationWidth/2);

    +mediaqueries(responciveQueries) {
      position: fixed;
      z-index: 1;
      top: auto;
      bottom: _margin;
      left: _margin*4;
    }

    +mobile() {
      display: none;
    }
  }

  &-compositions {
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    margin: _margin/2;

    +mediaqueries(responciveQueries) {
      justify-content: space-around;
    }
  }
}
