
@import '../../style/variables';
@import '../../style/mixins';

.Annotation {
  padding: _margin * 1.5;
  margin-top: 20px;
  opacity: 0;

  &-title {
    position: relative;
    width: 80%;
    margin-left: _margin*3;
    margin-bottom: _margin;
    border-bottom: 1px solid lineColor;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -(_margin*2);
      icon(_margin*2, 6);
    }
  }

  &-paragraph {
    text-align: right;
    width: 75%;
    margin-left: 25%;
  }

  &-bar {
    position: absolute;
    top: -5px;
    left: -15px;
    width: 0;
    height: 10px;
    background-color: markColor;
  }

  &_alert .Annotation-title::after {
    icon(_margin*2, 8);
  }
}
